:root {
  --primary-font: "Roboto", sans-serif;

  --main-background-color: #ffffff;

  --hero-background-color: #1f2937;

  --hero-font-size: 48px;
  --hero-font-weight: 900;
  --hero-font-color: #f9faf8;

  --hero-secondary-color: #e5e7eb;
  --hero-secondary-size: 18px;

  --header-link-color: #e5e7eb;
  --header-link-size: 18px;

  --header-logo-color: #f9faf8;
  --header-logo-size: 24px;

  --button-color: #3882f6;

  --info-header-color: #1f2937;
  --info-p-color: #4e5866;
  --info-header-size: 36px;
  --info-header-weight: 900;

  --quote-background-color: #e5e7eb;
  --quote-text-color: #1f2937;
  --quote-text-style: italic;
  --quote-text-weight: 200;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--primary-font);
  color: var(--hero-font-color);
  background-color: var(--main-background-color);
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
}

body {
  background-color: #fff;
  color: var(--info-p-color);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  color: var(--hero-font-color);
}

h2 {
  color: var(--info-header-color);
}

q {
  color: var(--quote-text-color);
}
/*Hero container*/
.header {
  background-color: var(--hero-background-color);
  color: var(--hero-font-color);
  width: 100vw;
  height: auto;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
}
/*Nav Bar*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.75rem;
  margin-bottom: 3rem;
  outline: 1px solid red;
}
/*Link list*/
.header-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  flex-wrap: nowrap;
  gap: 1.5rem;
}

.nav .header-link {
  color: var(--hero-secondary-color);
  text-decoration: none;
}

/*Nav logo*/

.nav .header-logo {
  color: var(--header-logo-color);
  font-size: var(--header-logo-size);
  justify-content: flex-start;
  outline: 1px solid red;
}

/*Hero section parent container*/

.hero-div {
  outline: 1px solid red;
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}

/*Hero section is h1, p and btn*/

.hero-section {
  width: 50%;
  outline: 1px solid red;
  font-size: var(--hero-font-size);
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-section .hero-btn {
  width: max-content;
  border: none;
  border-radius: 5px;
  padding: 2.5px 12.5px;
  margin-top: 5px;
  color: var(--header-logo-color);
  background-color: var(--button-color);
}
/*hero-img-placeholder is sibling to hero-section - both asides*/
.hero-img-placeholder {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--quote-text-color);
}

/*img*/
.img-placeholder {
  width: 20rem;
  height: 40%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hero styles*/

.hero-section .hero-p {
  color: var(--hero-secondary-color);
  font-size: var(--hero-secondary-size);
}

/*Quote section*/

.quote-container {
  background-color: var(--quote-background-color);
}

.footer-container {
  background-color: var(--hero-background-color);
}
