:root {
  --primary-font: "Roboto", sans-serif;

  --main-background-color: #ffffff;

  --hero-background-color: #1f2937;

  --hero-font-size: 48px;
  --hero-font-weight: 900;
  --hero-font-color: #f9faf8;

  --hero-secondary-color: #e5e7eb;
  --hero-secondary-size: 18px;

  --header-link-color: #e5e7eb;
  --header-link-size: 18px;

  --header-logo-color: #f9faf8;
  --header-logo-size: 24px;

  --button-color: #3882f6;

  --info-header-color: #1f2937;
  --info-p-color: #4e5866;
  --info-header-size: 36px;
  --info-header-weight: 900;

  --quote-background-color: #e5e7eb;
  --quote-text-color: #1f2937;
  --quote-text-style: italic;
  --quote-text-weight: 200;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--primary-font);
  color: var(--hero-font-color);
  background-color: var(--main-background-color);
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
}

body {
  background-color: #fff;
  color: var(--info-p-color);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  color: var(--hero-font-color);
}

h2 {
  color: var(--info-header-color);
}

q {
  color: var(--quote-text-color);
}

/*OLD DESIGN BELOW....*/
.hero-section .hero-p {
  color: var(--hero-secondary-color);
  font-size: var(--hero-secondary-size);
}

/*Image sizing*/
.img-placeholder {
  height: auto;
}

.hero-img {
  display: block;
  width: 100%;
  height: auto;
}

/*Illustration svgs*/

.info-img-placeholder {
  width: 200px;
}

.info-img {
  width: 100%;
}

/*styles*/
header,
.nav,
.hero-div,
.header-logo {
  background-color: var(--hero-background-color);
  color: var(--header-logo-color);
}

.header-link,
.hero-p {
  color: var(--header-link-color);
}

.info-img {
  background-color: var(--info-p-color);
  border-radius: 2px;
}

.quote-container {
  background-color: var(--quote-background-color);
  font-size: var(--info-header-size);
  font-style: var(--quote-text-style);
  font-weight: var(--quote-text-weight);
}

.button-container,
.cta-btn {
  background-color: var(--button-color);
  color: var(--header-logo-color);
}

.sign-up-p {
  color: var(--hero-secondary-color);
}

.footer {
  background-color: var(--hero-background-color);
  color: var(--header-logo-color);
}

/*dev tools*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border: 2px solid yellow;
}

.main-container {
  flex: 1;
  border: 2px solid red;
}

.nav,
.footer {
  border: 1.5px solid orange;
}

section {
  border: 2px solid purple;
  padding: 10px;
}

/*layout*/

.inner-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1500px;
  border: 5px solid cyan;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .header-list,
.nav .header-link,
.nav .header-logo {
  list-style: none;
  text-decoration-line: none;
  display: flex;
  gap: 1.25rem;
  padding: 10px 0px;
}

.nav .header-logo {
  font-size: 26px;
}

.nav .header-list {
  font-size: var(--header-link-size);
}

.hero-div .img-placeholder {
  display: block;
}

.hero-div {
  font-size: var(--hero-font-size);
}

.hero-p {
  font-size: var(--hero-secondary-size);
  color: var(--hero-secondary-color);
  margin-bottom: 0.65rem;
}

.hero-btn {
  display: block;
  background-color: var(--button-color);
  color: var(--hero-font-color);
  font-size: var(--hero-secondary-size);
  border: none;
  border-radius: 3px;
  padding: 0.125rem 0.8rem;
}

.quote-container .inner-container,
.button-section {
  padding: 5rem 0rem 5rem 0rem;
}

/*this is for screens above 700px*/

@media (min-width: 990px) {
  .hero-div {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .hero-div :is(.hero-section, .hero-img-placeholder) {
    flex-basis: 50%;
    border: 1px solid blue;
  }

  section {
    padding: 10px;
  }
}

/*this is for screens 700px or smaller*/

@media (max-width: 700px) {
  .nav .header-logo {
    font-size: 20px;
  }

  .nav .header-link {
    font-size: 15px;
  }

  section {
    padding: 10px;
  }

  .hero-div {
    font-size: 38px;
    line-height: 1.25;
  }

  .hero-section .hero-p {
    font-size: 15px;
  }

  .hero-btn {
    margin: 0 auto 10px auto;
  }

  .quote-container .inner-container {
    padding: 5rem 2rem 5rem 2rem;
  }
}

/*this is for screens below 475px*/

@media (max-width: 475px) {
  .nav .header-logo {
    font-size: 15px;
  }

  .nav .header-link {
    font-size: 12px;
  }

  .hero-div {
    font-size: 28px;
    text-align: center;
  }

  .hero-btn {
    margin: 0 auto 10px auto;
  }
}
/*phone display alternation*/

/*.info-section {
  display: flex;
  justify-content: space-evenly;
}*/

.info-section-h2 {
  text-align: center;
}

.info-subsection {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-img-placeholder {
  border: 3px solid var(--button-color);
  border-radius: 5px;
}

.footer {
  text-align: center;
}
