:root {
  --primary-font: "Roboto", sans-serif;

  --main-background-color: #ffffff;

  --hero-background-color: #1f2937;

  --hero-font-size: 48px;
  --hero-font-weight: 900;
  --hero-font-color: #f9faf8;

  --hero-secondary-color: #e5e7eb;
  --hero-secondary-size: 18px;

  --header-link-color: #e5e7eb;
  --header-link-size: 18px;

  --header-logo-color: #f9faf8;
  --header-logo-size: 24px;

  --button-color: #3882f6;

  --info-header-color: #1f2937;
  --info-p-color: #4e5866;
  --info-header-size: 36px;
  --info-header-weight: 900;

  --quote-background-color: #e5e7eb;
  --quote-text-color: #1f2937;
  --quote-text-style: italic;
  --quote-text-weight: 100;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--primary-font);
  color: var(--hero-font-color);
  background-color: var(--main-background-color);
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
}

body {
  background-color: #fff;
  color: var(--info-p-color);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  color: var(--hero-font-color);
}

h2 {
  color: var(--info-header-color);
}

q {
  color: var(--quote-text-color);
}

/*OLD DESIGN BELOW....*/
.hero-section .hero-p {
  color: var(--hero-secondary-color);
  font-size: var(--hero-secondary-size);
}

/*image sizing*/
.img-placeholder {
  height: auto;
}

.hero-img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
}

/*illustration svgs*/

.info-img-placeholder {
  width: 200px;
}

.info-img {
  width: 100%;
}

/*styles*/
header,
.nav,
.hero-div,
.header-logo {
  background-color: var(--hero-background-color);
  color: var(--header-logo-color);
}

.header-link,
.hero-p {
  color: var(--header-link-color);
}

.info-img {
  background-color: var(--info-p-color);
  border-radius: 2px;
}

.quote-container {
  background-color: var(--quote-background-color);
}

.quote {
  font-size: var(--info-header-size);
  font-style: var(--quote-text-style);
  font-weight: var(--quote-text-weight);
  quotes: none;
}

span {
  font-weight: bold;
  /*padding-bottom: 2rem;*/
}

.quote p {
  padding-top: 1rem;
}

.quote-author {
  text-align: right;
  font-size: 26px;
  font-weight: bold;
  color: var(--info-header-color);
}

.button-container,
.cta-btn {
  background-color: var(--button-color);
  color: var(--header-logo-color);
}

.sign-up-p {
  color: var(--hero-secondary-color);
}

.footer {
  background-color: var(--hero-background-color);
  color: var(--header-logo-color);
}

/*dev tools*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  flex: 1;
}

section {
  padding: 10px;
}

/*LAYOUT*/

/*centers all of the inner containers*/
.inner-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1500px;
  /* border: 5px solid cyan;*/
}

/*nav space*/
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .header-list,
.nav .header-link,
.nav .header-logo {
  list-style: none;
  text-decoration-line: none;
  display: flex;
  gap: 1.25rem;
  padding: 10px 0px;
}

/*nav font-sizes*/
.nav .header-logo {
  font-size: 26px;
}

.nav .header-list {
  font-size: var(--header-link-size);
}

.hero-div {
  font-size: var(--hero-font-size);
}

.hero-div .inner-container {
  margin: 3.5rem auto 5rem auto;
}

.hero-p {
  font-size: var(--hero-secondary-size);
  color: var(--hero-secondary-color);
  margin-bottom: 0.65rem;
}

.hero-btn {
  display: block;
  background-color: var(--button-color);
  color: var(--hero-font-color);
  font-size: var(--hero-secondary-size);
  border: none;
  border-radius: 3px;
  padding: 0.125rem 0.8rem;
}

/*info section structure*/

.info-container {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.info-section-h2 {
  text-align: center;
  padding: 1.5rem 0 4rem 0;
}

.info-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 4rem;
}

.info-img-placeholder {
  border: 3px solid var(--button-color);
  border-radius: 5px;
}

.info-subsection p {
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
}

.quote-container .inner-container,
.button-section {
  padding: 5rem 0rem 5rem 0rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 3.5rem 0 3.5rem 0;
  border-radius: 5px;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.cta-btn {
  align-self: stretch;
  padding: 0 3rem 0 3rem;
  border: 2px solid white;
  border-radius: 5px;
}

.cta-btn:hover {
  cursor: pointer;
  background-color: var(--hero-background-color);
  font-weight: bold;
}

/*this is for screens above 700px*/

@media (max-width: 1050px) {
  .info {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 990px) {
  .hero-div {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .hero-div :is(.hero-section, .hero-img-placeholder) {
    flex-basis: 50%;
    border: 1px solid blue;
  }

  section {
    padding: 10px;
  }
}

/*this is for screens 700px or smaller*/

@media (max-width: 700px) {
  .nav .header-logo {
    font-size: 20px;
  }

  .nav .header-link {
    font-size: 15px;
  }

  section {
    padding: 10px;
  }

  .hero-div {
    font-size: 38px;
    line-height: 1.25;
  }

  .hero-section .hero-p {
    font-size: 15px;
  }

  .hero-btn {
    margin: 0 auto 10px auto;
  }

  .quote-container .inner-container {
    padding: 5rem 2rem 5rem 2rem;
  }
}

/*this is for screens below 475px*/

@media (max-width: 475px) {
  .nav .header-logo {
    font-size: 15px;
  }

  .nav .header-link {
    font-size: 12px;
  }

  .hero-div {
    font-size: 28px;
    text-align: center;
  }

  .hero-btn {
    margin: 0 auto 10px auto;
  }
}
/*phone display alternation*/

.footer {
  text-align: center;
  padding: 2rem 0 2rem 0;
}
